<title>ThrillPad : Travel Planning : Powerful Travel Planner</title>
<meta name="description" content="ThrillPad: Powerful Travel Planner, We help you build interesting trip & buy them"/>
<meta name="keywords" content="India Tourism Travel, Book Flight Tickets, Unique Activities, Hotel Bookings, Restaurants in India, Powerful Travel Planner"/>
<div class="container">
<header class="launch-head">
  <h1 style="text-align: center">Customized Trip Planning.</h1>

  <h2 style="text-align: center">Explore interesting things to do in places where you travel</h2>
</header>

<section id="signup-sect">
  <div class="flex-container">
    <form class="fancy-form">
      <div class="controls controls-row hide-me" style="padding-bottom: 10px;padding-right: 33px;">
        <a href="/locations" id="submit-email" class="span3 btn btn-fancy" type="submit" style="padding-top: 24px;">Explore
          Destinations</a>
        <a href="/activity" id="submit-email" class="span3 btn btn-fancy " type="submit" style="padding-top: 24px;">Explore
          Activities</a>
      </div>

    </form>

    <div id="share"> <!-- Social -->
      <ul class="icons">
        <li class="share-button">
          <a href="http://twitter.com"><i class="icon-twitter-sign"></i></a></li>
        <li class="share-button">
          <a href="http://facebook.com"><i class="icon-facebook-sign"></i></a></li>
        <li class="share-button">
          <a href="http://plus.google.com"><i class="icon-google-plus-sign"></i></a></li>
      </ul>

    </div>
  </div>
</section>

<section id="info" class="row-fluid">
  <div class="span3">
    <h3>Destinations</h3>

    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
      condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
      sed odio dui.</p>
  </div>
  <div class="span3">
    <h3>Activities</h3>

    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
      condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
      sed odio dui.</p>
  </div>
  <div class="span3">
    <h3>Hotels</h3>

    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis
      euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
      sit amet risus.</p>
  </div>
  <div class="span3">
    <h3>Trip Planning</h3>

    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis
      euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
      sit amet risus.</p>
  </div>
</section>
<section class="section-wrapper under-slider">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h3 class="section-header">Popular Activities</h3>
      </div>

    </div>
  </div>
</section>
<section class="section-wrapper">
  <div class="container">
    <div class="row">
      <div class="span6">
        <h3 class="section-header">Client Testimonials</h3>

        <div class="testimonials">
          <div class="testimonials-users row hidden-phone">
            <div class="span1">
              <a class="testimonials-user-w active" data-toggle="testimonial" href="#testimonial1">
                <span class="testimonials-user"><img alt="Avatar-1" src="/img/avatar-1-0eaa7e3d48390d47bf69358930653bb3.png"></span>
              </a>
            </div>
            <div class="span1">
              <a class="testimonials-user-w" data-toggle="testimonial" href="#testimonial2">
                <span class="testimonials-user"><img alt="Avatar-2" src="/img/avatar-2-60df51f5774b6e1d9561b200869a51c4.png"></span>
              </a>
            </div>
            <div class="span1">
              <a class="testimonials-user-w" data-toggle="testimonial" href="#testimonial3">
                <span class="testimonials-user"><img alt="Avatar-4" src="/img/avatar-4-6db6fd1026057391adf7de79b660d54f.png"></span>
              </a>
            </div>
            <div class="span1">
              <a class="testimonials-user-w" data-toggle="testimonial" href="#testimonial4">
                <span class="testimonials-user"><img alt="Avatar-1" src="/img/avatar-1-0eaa7e3d48390d47bf69358930653bb3.png"></span>
              </a>
            </div>
            <div class="span1">
              <a class="testimonials-user-w" data-toggle="testimonial" href="#testimonial5">
                <span class="testimonials-user"><img alt="Avatar-2" src="/img/avatar-2-60df51f5774b6e1d9561b200869a51c4.png"></span>
              </a>
            </div>
            <div class="span1">
              <a class="testimonials-user-w" data-toggle="testimonial" href="#testimonial6">
                <span class="testimonials-user"><img alt="Avatar-4" src="/img/avatar-4-6db6fd1026057391adf7de79b660d54f.png"></span>
              </a>
            </div>
          </div>
          <div class="testimonials-speeches">
            <div class="testimonials-speech active" id="testimonial1">
              <p>
                Homer Simpson is amazing. I've worked with Homer on couple of projects and i really like how lazy he is.
                Sleeps a lot, does not compain much, a perfect employee.
              </p>

              <div class="speech-by">
                Mr. Burns, Springfield Nuclear Power Plant
              </div>
            </div>
            <div class="testimonials-speech" id="testimonial2">
              <p>
                Nulla gravida tellus id fermentum. Phasellus aliquet lobortis dolor, vel aliquam tortor porta vitae.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.
              </p>

              <div class="speech-by">
                John Doe, Dundler Mufflin
              </div>
            </div>
            <div class="testimonials-speech" id="testimonial3">
              <p>
                Aliquam at sodales arcu. Nulla gravida, tellus id fermentum tempus, urna elit tempus justo, a tincidunt
                dui lacus nec est. Maecenas ligula ipsum, suscipit quis posuere id, porttitor vitae odio. Phasellus
                cursus mauris nec felis sollicitudin ac semper quam hendrerit. Morbi sagittis lobortis libero id
                imperdiet.
              </p>

              <div class="speech-by">
                John Doe, Dundler Mufflin
              </div>
            </div>
            <div class="testimonials-speech" id="testimonial4">
              <p>
                Aenean purus ipsum convallis. Quisque eu est ipsum. Aliquam at sodales arcu. Cras justo velit, pretium
                quis luctus a, posuere vitae justo. Proin porttitor ultricies justo at semper. Curabitur leo tortor,
                placerat ut placerat vel, tristique et ipsum. Maecenas at tellus leo, vitae pellentesque velit. Mauris
                ac augue magna. Vestibulum et magna at urna venenatis vehicula.
              </p>

              <div class="speech-by">
                John Doe, Solomon Inc
              </div>
            </div>
            <div class="testimonials-speech" id="testimonial5">
              <p>
                Maecenas id rutrum enim. Pellentesque fringilla fringilla molestie. Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis egestas.
              </p>

              <div class="speech-by">
                John Doe, ThemeForest
              </div>
            </div>
            <div class="testimonials-speech" id="testimonial6">
              <p>
                Pellentesque habitant morbi tristique Aenean venenatis nisi sit amet massa congue commodo. Aenean purus
                ipsum, convallis quis rhoncus ut, ullamcorper eget metus.
              </p>

              <div class="speech-by">
                John Doe, Dundler Mufflin
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="span6">
        <h3 class="section-header">Services We Offer</h3>

        <div class="accordion" id="accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseOne">
                Web Development
              </a>
            </div>
            <div class="accordion-body collapse" id="collapseOne">
              <div class="accordion-inner">
                Cras lacinia laoreet libero et mattis. In facilisis neque id lectus hendrerit in dignissim orci rhoncus.
                Etiam lacinia, mauris sed sagittis laoreet, sapien erat consectetur enim, eget sagittis orci magna at
                dolor. Donec semper tellus vitae massa laoreet congue. In id elit in turpis fermentum bibendum eget ac
                nibh.
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">
                Photoshop Website Design
              </a>
            </div>
            <div class="accordion-body collapse" id="collapseTwo">
              <div class="accordion-inner">
                Cras lacinia laoreet libero et mattis. In facilisis neque id lectus hendrerit in dignissim orci rhoncus.
                Etiam lacinia, mauris sed sagittis laoreet, sapien erat consectetur enim, eget sagittis orci magna at
                dolor. Donec semper tellus vitae massa laoreet congue. In id elit in turpis fermentum bibendum eget ac
                nibh.
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseThree">
                Search Engine Optimization
              </a>
            </div>
            <div class="accordion-body collapse" id="collapseThree">
              <div class="accordion-inner">
                Cras lacinia laoreet libero et mattis. In facilisis neque id lectus hendrerit in dignissim orci rhoncus.
                Etiam lacinia, mauris sed sagittis laoreet, sapien erat consectetur enim, eget sagittis orci magna at
                dolor. Donec semper tellus vitae massa laoreet congue. In id elit in turpis fermentum bibendum eget ac
                nibh.
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseFour">
                Application Development
              </a>
            </div>
            <div class="accordion-body collapse" id="collapseFour">
              <div class="accordion-inner">
                Cras lacinia laoreet libero et mattis. In facilisis neque id lectus hendrerit in dignissim orci rhoncus.
                Etiam lacinia, mauris sed sagittis laoreet, sapien erat consectetur enim, eget sagittis orci magna at
                dolor. Donec semper tellus vitae massa laoreet congue. In id elit in turpis fermentum bibendum eget ac
                nibh.
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseFive">
                Icon Design in Illustrator
              </a>
            </div>
            <div class="accordion-body collapse" id="collapseFive">
              <div class="accordion-inner">
                Cras lacinia laoreet libero et mattis. In facilisis neque id lectus hendrerit in dignissim orci rhoncus.
                Etiam lacinia, mauris sed sagittis laoreet, sapien erat consectetur enim, eget sagittis orci magna at
                dolor. Donec semper tellus vitae massa laoreet congue. In id elit in turpis fermentum bibendum eget ac
                nibh.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="popular_locations" class="section-wrapper stripped">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <h3 class="section-header">Popular Locations</h3>
      </div>
    </div>
    <div class="row-fluid">
      <% @fplaces.each do |place| %>
          <%= main_block(place).html_safe %>


      <% end %>
    </div>
  </div>
</section>

</div>

<div style="margin: 40px">
  <div class="fb-like-box" data-href="https://www.facebook.com/Thrillpad" data-width="1000" data-height="400" data-show-faces="true" data-stream="false" data-show-border="false" data-header="true"></div>
</div>