<section class="section-wrapper about-page-w">
  <div class="container">
    <h1 class="section-main-header">About Us</h1>

    <div class="row row-separated">
      <div class="span7">
        <h3 class="section-header">The Real Need</h3>

        <p class="section-paragraph">According to ThrillPad what the customer/Traveler needs is a pre-planned travel
          experience, he needs an agency, a company who can do all the travel pre-planning for us and execute the same
          for him/her. We introduce ThrillPad as the company who till take care of all his travel needs.
          Thrillpad’s goal is to make your itinerary creation easier by creating a trip plan that includes information
          about your city, hotel, places to visit and activities to do in that particular destination.</p>
      </div>
      <div class="span5">
        <img alt="Browser-window-2" src="/assets/theme_venera/photos/browser-window-2.png">
      </div>
    </div>
    <div class="row row-separated">
      <div class="span5">
        <img alt="Browser-window-3" src="/assets/theme_venera/photos/browser-window-3.png">
      </div>
      <div class="span7">
        <h3 class="section-header">Our Solution</h3>

        <p class="section-paragraph">Preparation of a trip to a new city is timewasting and often requires investigating
          restaurants, hotels, conveyance and more on several travel websites. ThrillPad is a web application that takes
          the online travel planning experience to the next level, taking care of the user from doorstep to final
          destination. It prepares travel itinerary for your next trip in just a few minutes. Users can select the
          destination, hotel, dates and attractions that they’re interested in, and Thrillpad will create an itinerary
          with all of the information.
        </p>
      </div>
    </div>


    <div class="row">
      <div class="span12">
        <h3 class="section-header">Our Team</h3>
      </div>
      <div class="span3">
        <div class="white-card">
          <div class="img-w">
            <img alt="Test-user" src="/assets/theme_venera/test-user.png">
          </div>
          <h5>Vaibhav Verma</h5>

          <p>Hands-on engineering manager with diverse experience of building online user products</p>
        </div>
      </div>
      <div class="span3">
        <div class="white-card">
          <div class="img-w">
            <img alt="Test-user" src="/assets/theme_venera/test-user.png">
          </div>
          <h5>Fernando Torres.</h5>

          <p>Cras metus elit, consectetur sed congue vel, sollicitudin eget odio. Cras lacinia laoreet libero et
            mattis.</p>
        </div>
      </div>
      <div class="span3">
        <div class="white-card">
          <div class="img-w">
            <img alt="Test-user" src="/assets/theme_venera/test-user.png">
          </div>
          <h5>Leo Messi.</h5>

          <p>Cras metus elit, consectetur sed congue vel, sollicitudin eget odio. Cras lacinia laoreet libero et
            mattis.</p>
        </div>
      </div>
      <div class="span3">
        <div class="white-card">
          <div class="img-w">
            <img alt="Test-user" src="/assets/theme_venera/test-user.png">
          </div>
          <h5>David Villa.</h5>

          <p>Cras metus elit, consectetur sed congue vel, sollicitudin eget odio. Cras lacinia laoreet libero et
            mattis.</p>
        </div>
      </div>
    </div>

  </div>
</section>