<section class="section-wrapper about-page-w">
  <div class="container-fluid">
    <h1 class="section-main-header">How it Works</h1>

    <div class="row-fluid row-separated">
      <div class="span10">
        <p class="section-paragraph">Founded on the belief that there is a simple way to connect like-minded travelers
          around the world to help each other.
          We assist you in all the stages of your travel planning starting from gathering requirements, to pre-planning
          stay, flights, activities et al and finally to execute all what you have planned to create the 'picture
          perfect' travel.</p>
      </div>
      <div class="span10">
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                Give us your requirements
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
                Give us your budget, preferences, location specifics and we will build and execute an itinerary
                including locations, activities etc. Available on phone 24*7 our travel planners will work to make your
                every travel as enjoyable. Contact us via phone/portal/chat/email.
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Detailed travel Itinerary
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>Out expert Travellers and agents will create an opinionated itinerary based on your preferences.
                  Every spot in the itinerary will have options, suiting your price, tour type, cuisine type.</p>

                <p>Once you have made choices regarding the whole itinerary starting from your tickets, activities,
                  location, stay etc. We will proceed will confirming your booking with the various service
                  providers.</p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                Delivery of Service ;) Enjoy your travel
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>Once you have made the payment partially or complete, and the bookings made, our agents will be
                  awaiting your queries, adjustments and arrival in India. You will find a guide awaiting you @ the
                  airport.</p>

                <p>Once you have completed your tour/travel we will await your response and feedback. Do send us any
                  feedback at any stage of the our interaction, this is a service dedicated to travellers created by
                  travellers and for the travellers.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>