<div id="timeline-embed"></div>
<script type="text/javascript">
    var timeline_config = {
        width:              '100%',
        height:             '600',
        source:             '/trip/slideshow/<%=@trip.id %>',
        maptype:            'watercolor' ,              //OPTIONAL MAP STYLE ,
        start_zoom_adjust:  '1'



    }
</script>
<script type="text/javascript" src="http://timeline.verite.co/lib/timeline/js/storyjs-embed.js"></script>